[submodule ".vim/bundle/vim-colors-solarized"]
	path = .vim/bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule ".vim/bundle/matchit"]
	path = .vim/bundle/matchit
	url = https://github.com/vim-scripts/matchit.zip.git
[submodule ".vim/bundle/ctrlp"]
	path = .vim/bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule ".vim/bundle/fugative"]
	path = .vim/bundle/fugative
	url = https://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/neocomplete"]
	path = .vim/bundle/neocomplete
	url = https://github.com/Shougo/neocomplete.vim.git
[submodule ".vim/bundle/vim-rename"]
	path = .vim/bundle/vim-rename
	url = https://github.com/wojtekmach/vim-rename.git
[submodule ".vim/bundle/vim-rooter"]
	path = .vim/bundle/vim-rooter
	url = https://github.com/airblade/vim-rooter.git
